<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@(ViewData["meta_title"] ?? "Классная") Недвижка</title>
    <meta name="description" content="@ViewData["meta_desc"]">
    <meta name="keywords" content="@ViewData["meta_keys"]">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/app.css">

    @RenderSection("Head", false)
</head>
<body>


<partial name="_HeaderPartial"/>

<main class="container-fluid">
    @RenderBody()
</main>

<partial name="_FooterPartial"/>


@RenderSection("Scripts", false)

</body>
</html>